---
layout: default
---

<div class="intro mb-4">
  <p>I'm a 27 year old web developer located in Virginia Beach, Virginia. I make ideas come to life and work relentlessly to make them as great as possible!</p>
</div>

<div class="posts">
  <h1 class="mb-3">Posts</h1>

  {% for post in site.posts %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="works" style="display: none;">
  {% for work in site.work %}
    <article class="post">

      <h1 class="mb-3">Works</h1>

      <h2><a href="{{ site.baseurl }}{{ work.url }}">{{ work.title }}</a></h2>

      <div class="entry">
        {{ work.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ work.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
