---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "animations";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

// html font-size 1.125em to equal 18px
html {
  font-size: 1.125em;
  overflow-x: hidden;
}

body {
	background: $white;
  font-family: $console-font-stack;
  font-weight: 400;
  line-height: 1.6;
  color: $darkerGray;
  overflow-x: hidden;
}

.body-wrapper {
  overflow-x: hidden;
  max-width: 100vw;
  background-color: $dark-blue-gray;
  color: $lightGray;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightGray;
  font-weight: bolder;
  margin-bottom: 1rem;
  padding: 0;
  line-height: 1.2;

}

h1 {
  font-size: 2em;

  @include tablet {
    font-size: 2.998em;
  }
}

.posts{
  .post {
    > h1 {
      &:after {
        content:'\2192';
        font-size: 2.5rem;
        opacity: 0;
        margin-left: 0;
        transition: all 0.5s ease;
      }
    }
    &:hover {
      > h1 {
        &:after {
          opacity: 0.5;
          margin-left: 2rem;
        }
      }
    }
  }
}

h2 {
  font-size: 1.65em;

  @include tablet {
    font-size: 1.827em;
  }
}

h3 {
  font-size: 1.41em;

  @include tablet {
    font-size: 1.6em;
  }
}

h4, h5, h6 {
  font-size: 1.2em;

  @include tablet {
    font-size: 1.414em;
  }
}

p {
  margin-bottom: 1.3em;
}

a {
  color: $blue-alpha;
  // text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue-dark;
  }
  &:visited {
    color: $purple-alpha;
  }
}

.site-name a {
  text-decoration: none;
  text-transform: uppercase;
  &:visited {
    color: $blue-alpha;
  }
}

nav a {
  color: $white;
}

// .post a {
//   @include link-underline($color-background, $darkerGray, $color-selection);
// }

ul, ol {
  margin-bottom: 1rem;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $white;
}

// Specify the color of the selection
::-moz-selection {
  background: $blue-alpha;
}
::selection {
  background: $blue-alpha;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;

}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $lightGray;
  font-size: 18px;

  @include tablet {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;

  a {
    margin-left: 20px;
    color: $lightGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include tablet {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  margin-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin-bottom: 1rem;
    border-left: 5px solid $blue-gray;
    padding: 0.25rem 1rem;
    font-size: 125%;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  background-color: $dark-theme-gold;
}

footer {
  padding: 20px 0;
  text-align: center;
}

//
// posts
//

#main {
  > .post {

    .entry {
      padding-top: 50px;
    }

    h1 {

      &:first-of-type {
        padding-top: 3rem;
        z-index: 2;
      }

    }
  }
}



article.post {
	position: relative;
}

[class^="bg-c"] {
	display: block;
	position: absolute;
	z-index: -1;
	opacity: 0.3;
	animation: grow 2s;
}

.bg-c1 {
	background-image: url('../images/circle-orange.svg');
	height: 130px;
	width: 130px;
	right: 10px;
  top: -80px;
}

.bg-c2 {
	background-image: url('../images/circle-teal.svg');
	height: 250px;
	width: 250px;
	top: -30px;
	left: -130px;
}

.bg-c3 {
	background-image: url('../images/circle-blue.svg');
	height: 190px;
	width: 190px;
	left: 40px;
	top: -50px;
}

.bg-c4 {
	background-image: url('../images/circle-fuchsia.svg');
	height: 315px;
	width: 315px;
	right: -200px;
	top: -50px;
}

.bg-c5 {
	background-image: url('../images/circle-purple.svg');
	height: 185px;
	width: 185px;
	right: 50px;
	top: -30px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
